#Server environment
NODE_ENV=development

#Port number
PORT=8000

#MySql Db configuration
DB_HOST=core-db
DB_USER=root
DB_PASS=root
DB_NAME=node-test
DB_PORT=3306
DB_HOST=127.0.0.1

# JWT
# JWT secret key
JWT_SECRET=YOUR JWT SECRET KEY
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=60
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30